.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

/*
 * Stepper
 */
.md-steppers-header-region {
  background-color: white;
}
.md-stepper-indicator.md-completed .md-stepper-number {
  background-color: #4CAF50;
}


/*
 * Toast
 */
md-toast.md-success-toast-theme> .md-toast-content {
  background-color: #43A047;
  color: white;
}



md-toast.md-error-toast-theme> .md-toast-content {
 background-color: #b71c1c;
 color: white;
}

/*
 * Status
 */
.status-icon.status-complete {
  background-color: #43A047;
  color: white;
}



.status-icon.status-draft {
 background-color: #757575;
 color: white;
}

/*
 * Font
 */
pre {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*
 * Input
 */
md-input-container .md-errors-spacer {
    min-height: 0;
}
