<md-toolbar class="md-whiteframe-2dp md-hue-2">
  <div class="md-toolbar-tools">
    <h1 class="md-headline">Outbreak Summary Report Manager</h1>
  </div>
</md-toolbar>
<md-toolbar class="md-whiteframe-1dp" md-colors="{background: 'white'}">
  <div class="md-toolbar-tools">
    <a class="md-button" ui-sref="home">
      <md-icon md-colors="{color: 'grey'}">home</md-icon>
      Home
    </a>

    <span><md-icon ng-if="stateData.label" md-colors="{color: 'grey'}">chevron_right</md-icon></span>

    <span ng-if="stateData.label" class="md-button" disabled="disabled">
      <md-icon md-colors="{color: 'grey'}">{{stateData.icon}}</md-icon>
      {{stateData.label}}
    </span>

    <div flex></div>
  </div>
</md-toolbar>
