<md-toolbar class="md-whiteframe-2dp md-hue-2">
  <div class="md-toolbar-tools">
    <p class="md-display-1">Outbreak Summary Report Manager</p>
  </div>
</md-toolbar>
<md-toolbar ng-if="stateData" class="md-whiteframe-1dp" md-colors="{background: 'white'}">
  <div class="md-toolbar-tools">
    <p ng-if="stateData.title.showReportName">
      {{report.name}}<br/>
      <small md-colors="{color: 'grey'}">{{stateData.title.label}}</small>
    </p>
    <p ng-if="!stateData.title.showReportName">
      {{stateData.title.label}}
    </p>
    <div flex></div>
    <a class="md-button" ng-repeat="action in stateData.actions" ng-click="goToState(action.state, stateParams)">
      <md-icon md-colors="{color: 'grey'}">{{action.icon}}</md-icon>
      {{action.label}}
    </a>
  </div>
</md-toolbar>
