.print-page	{
  display: block;
  page-break-after: always;
}

.print-header, .print-footer {
  width: 100%;
}
.print-footer {
  position: fixed;
  bottom: 0px;
}

@media all {
  .visible-print	{
    display: none;
  }
}

@media print {
  .hide-print {
    display: none;
  }
  .visible-print {
    display: block;
  }

  md-card {
    box-shadow: none;
    border: 1px solid #DDDDDD;
  }

  md-tooltip {
    display: none;
  }
}
