<div layout="row" layout-margin ng-if="stepper.currentStep < stepper.steps.length - 1">
  <md-button ng-if="stepper.currentStep !== 0" class="md-primary" ng-click="stepper.back()">Back</md-button>
  <div flex></div>
  <md-button ng-if="stepper.currentStep !== stepper.steps.length - 2" class="md-primary md-raised" ng-click="stepper.next()">Next</md-button>
  <md-button ng-if="stepper.currentStep === stepper.steps.length - 2" class="md-primary md-raised" ng-click="onSave()">{{saveLabel}}</md-button>
</div>
