<div layout="column" layout-align="center center" layout-padding layout-margin>

  <div class="text-center">
    <h1 class="md-display-1">
      Welcome to the Outbreak Summary Report Manager
    </h1>
    <p class="md-title">
      Please choose one of the options below.
    </p>
  </div>

  <div layout="row">
    <osr-large-button
      link="reports.list"
      icon="list"
      text="View list of Reports">
    </osr-large-button>
    <osr-large-button
      link="reports.add.report"
      icon="add"
      text="Create new Report">
    </osr-large-button>
  </div>

</div>
